{:http-server {:port 8080
               :join? false
               :ws-max-idle-time 3000000}
 :jwt-secret #include "jwt.edn"
 :database {:jdbcUrl "jdbc:postgresql://localhost:5432/lumin"
            :username "postgres"
            :password #include "secrets.edn"}
 :file-path #include "file_path.edn"
 :redis {:url "redis://localhost:6379"}}


